.mainheading {
    background-color: yellow;
    color: black;
    text-align: center;
    padding: 15px;
}

.border {
    border-color: white;

}

.orange {
    color: green;
    background-color: orange;
    text-align: center;
}

.g {
    color: darkgreen;
    background-color: lightgrey;
    text-align: center;
    border-color: brown;
}

.a {
    color: black;
    background-color: pink;
    text-align: center;
    border-color: brown;
}

.b {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    border-color: brown;
}

.c {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.d {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.e {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.f {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.h {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    border-color: brown;
}

.i {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}

.j {
    color: black;
    background-color: lightpink;
    text-align: center;
    border-color: brown;
}

.k {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    border-color: brown;
}

.l {
    color: black;
    background-color: lightgreen;
    text-align: center;
    border-color: brown;
}

.m {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.n {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.o {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.p {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}

.q {
    color: black;
    background-color: lightgrey;
    text-align: center;
    border-color: brown;
}

.r {
    color: black;
    background-color: lightpink;
    text-align: center;
    border-color: brown;
}

.s {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    border-color: brown;
}

.t {
    color: black;
    background-color: yellow;
    text-align: center;
    border-color: brown;
}

.u {
    color: blue;
    background-color: lightgreen;
    text-align: center;
    border-color: brown;
}

.v {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.w {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.x {
    color: black;
    background-color: lightsalmon;
    text-align: center;
    border-color: brown;
}

.y {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}

.z {
    color: black;
    background-color: lightgray;
    text-align: center;
    border-color: brown;
}

.aa {
    color: blue;
    background-color: lightpink;
    text-align: center;
    border-color: brown;

}

.bb {
    color: black;
    background-color: lightskyblue;
    text-align: center;
    border-color: brown;
}

.cc {
    color: black;
    background-color: lightgreen;
    text-align: center;
    border-color: brown;
}

.dd {
    color: black;
    background-color: lightgreen;
    text-align: center;
    border-color: brown;
}

.ee {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.ff {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.gg {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}

.hh {
    color: black;
    background-color: lightgray;
    text-align: center;
    border-color: brown;
}

.ii {
    color: black;
    background-color: linen;
    text-align: center;
    border-color: brown;
}

.jj {
    color: black;
    background-color: lightgreen;
    text-align: center;
    border-color: brown;
}

.kk {
    color: black;
    background-color: brown;
    text-align: center;
    border-color: brown;
}

.ll {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}

.mm {
    color: black;
    background-color: lightgray;
    text-align: center;
    border-color: brown;
}

.nn {
    color: black;
    background-color: lightpink;
    text-align: center;
    border-color: brown;
}

.oo {
    color: black;
    background-color: white;
    text-align: center;
    border-color: brown;
}

.i {
    color: black;
    background-color: lightgoldenrodyellow;
    text-align: center;
    border-color: brown;
}